#grid {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-areas: 
    "nav header header"
    "carousel carousel carousel"
    "mission about about"
    "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 90px 6fr 2fr 168px;
}

#grid > section.nav {
    grid-area: nav;
}

#grid > section.carousel {
    grid-area: carousel;
}

#grid > section.missionStatement {
    grid-area: mission;
    
}

#grid > section.aboutUs {
    grid-area: about;
    
}

#grid > section.footer {
    grid-area: footer;
    text-align: center;
}

#grid > section.header {
    grid-area: header;
}

#fence, #home {
    width: 80% !important;
    margin: auto !important;
}

.lightblue {
    color: #82c0cc;
}

.darkblue {
    background-color: #2F4860;
}

.platinum {
    color: #dde1e3;
}